<h1>Editing Schedule</h1>
<h1><%= @selected_date.strftime('%m/%d/%Y') %></h1>

<form action="<%= day_schedule_path(@day_schedule) %>" method="post">
  <%= hidden_field_tag :_method, :patch %>
  <%= hidden_field_tag :selected_date, @selected_date %>
  <table>
    <thead>
      <tr>
        <th>Time</th>
        <th><%= @asset.name %></th>
      </tr>
    </thead>
    <tbody>
      <% @time_slots.each do |time_slot| %>
        <tr>
          <td><%= time_slot %></td>
          <td>
            <% reservation = @day_schedule.reservations.find_by(time_slot: time_slot) %>
            <input type="hidden" name="reservations[<%= time_slot %>][id]" value="<%= reservation&.id %>">
            <input type="text" name="reservations[<%= time_slot %>][description]" value="<%= reservation&.description %>">
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <input type="hidden" name="selected_date" value="<%= @selected_date %>">
  <div class="button-group">
    <input type="submit" value="Save" class="btn-outline">
    <%= link_to 'Cancel', root_path(datepicker: @selected_date), class: 'btn-outline' %>
  </div>
</form>