<h2>Reservations for <%= @selected_date.strftime('%m/%d/%Y') %></h2>

<div class="date-picker">
  <%= form_tag({ controller: 'home', action: 'index' }, method: 'get', id: 'date-form') do %>
    <%= label_tag :datepicker, 'Select a Date:' %>
    <%= date_field_tag :datepicker, @selected_date || Date.today, id: 'datepicker' %>
    <%= submit_tag 'Go' %>
  <% end %>
</div>

<table>
  <thead>
    <tr>
      <th>Time</th>
      <% @assets.each do |asset| %>
        <th>
          <%= asset.name %>
          <%= link_to 'Reserve', reserve_asset_day_schedules_path(asset, selected_date: @selected_date), class: 'reserve-button' %>
        </th>
      <% end %>
    </tr>
  </thead>
  <tbody>
 <% @time_slots.each do |time_slot| %>
  <tr>
    <td><%= time_slot %></td>
    <% @assets.each do |asset| %>
      <td>
        <% reservations = asset.reservations_for_day(@selected_date) %>
        <%= reservations.any? ? reservations.find_by(time_slot: time_slot)&.description : '-' %>
      </td>
    <% end %>
  </tr>
<% end %>
  </tbody>
</table>